html {
    font-size: 18px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font: bolder;
    color: red;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(94, 90, 90);
}

p1 {
    color: blue;
}
.jumbotron {
    margin: 20px;
    background-image: url("../images/classroom.jpg");
    background-size: cover;
}
